<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814030649185-cp74nsrtmeutj14gg5rhps7nvbkj42rl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814030649185-cp74nsrtmeutj14gg5rhps7nvbkj42rl</string>
	<key>API_KEY</key>
	<string>AIzaSyBebmDrRACinaROR_-NQOCNZoTxMXK_TJw</string>
	<key>GCM_SENDER_ID</key>
	<string>814030649185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flash.FourMoneyBears</string>
	<key>PROJECT_ID</key>
	<string>fourbears-63cd1</string>
	<key>STORAGE_BUCKET</key>
	<string>fourbears-63cd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814030649185:ios:d8483d035a8415ba14b720</string>
	<key>DATABASE_URL</key>
	<string>https://fourbears-63cd1.firebaseio.com</string>
</dict>
</plist>